<div class="page-header">
  <h2>Detalles del Equipo</h2>
</div>
<form class="form-inline">
  <div class="form-group">
    <label for="name" class="sr-only">Nombre</label>
    <input id="name" class="form-control" ng-model="team.name">
  </div>
  <div class="form-group">
    <label for="shortName" class="sr-only">Nombre Corto</label>
    <input id="shortName" class="form-control" ng-model="team.shortName">
  </div>
  <div class="form-group">
    <label for="institution" class="sr-only">Institución</label>
    <input id="institution" class="form-control" ng-model="team.institution">
  </div>


  <button class="btn btn-success" ng-click="save()">Guardar</button>
  <button class="btn btn-primary" ng-click="reset()">Reset</button>
  <a class="btn btn-danger" href="/equipos">Cancel</a>
</form>

<div class="page-header">
  <h2>Jugadores</h2>
</div>
<form class="form-inline">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input id="name" class="form-control" ng-model="newPlayer.name">
  </div>
  <div class="form-group">
    <label for="age">Edad</label>
    <input id="age" class="form-control" type="number" ng-model="newPlayer.age">
  </div>
  <div class="form-group">
    <label for="number">Número Camiseta</label>
    <input id="number" class="form-control" type="number" ng-model="newPlayer.number">
  </div>
  <div class="form-group">
    <label for="position">Posición</label>

    <select id="position" class="form-control" ng-model="newPlayer.position">
      <option value="C">Central</option>
      <option value="A">Armador</option>
      <option value="P">Punta</option>
      <option value="L">Líbero</option>
      <option value="OP">Opuesto</option>
    </select>

  </div>
  <button class="btn btn-default" ng-click="newPlayer.team=team._id;players.save(newPlayer);newPlayer='';">Add</button>
</form>

<ul class="list-group">
  <li class="list-group-item clearfix" ng-repeat="p in players | inTeam:team">
    <strong>{{p.name}}</strong> -
    {{p.position}} : # {{p.number}}
    <button class="btn btn-default pull-right" ng-click="remove(p)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </li>
</ul>
