Detalles del Equipo
<input ng-model="team.name">
<input ng-model="team.shortName">
<input ng-model="team.institution">


<button ng-click="save()">Guardar</button>
<button ng-click="reset()">Reset</button>
<button><a href="/equipos">Cancel</a></button>

Jugadores:
<form>
  <label>Nombre</label>
  <input ng-model="newPlayer.name">
  <label>Edad</label>
  <input ng-model="newPlayer.age">
  <label>Número Camiseta</label>
  <input ng-model="newPlayer.number">
  <label>Posición</label>
  <select ng-model="newPlayer.position">
    <option value="C">Central</option>
    <option value="A">Armador</option>
    <option value="P">Punta</option>
    <option value="L">Líbero</option>
    <option value="OP">Opuesto</option>
  </select>
  <button ng-click="newPlayer.team=team._id;players.save(newPlayer);newPlayer='';">Add</button>
</form>

<ul>
  <li ng-repeat="p in players | inTeam:team">
    <strong>{{p.name}}</strong> -
    {{p.position}} : # {{p.number}}
    <button ng-click="remove(p)">X</button>
  </li>
</ul>
