<div class="container col-lg-12">

  <div id="t2-backline" class="container col-lg-12">
    <div id="t1-pos1" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team1']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team1']['positions']['pos1']"></select>
      <strong>{{field['team1']['positions']['pos1'].position}}</strong>
    </div>

    <div id="t1-pos6" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team1']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team1']['positions']['pos6']"></select>
      <strong>{{field['team1']['positions']['pos6'].position}}</strong>
    </div>

    <div id="t1-pos5" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team1']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team1']['positions']['pos5']"></select>
      <strong>{{field['team1']['positions']['pos5'].position}}</strong>
    </div>
  </div>

  <div id="t1-frontline" class="container col-lg-12">
    <div id="t1-pos2" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team1']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team1']['positions']['pos2']"></select>
      <strong>{{field['team1']['positions']['pos2'].position}}</strong>
    </div>

    <div id="t1-pos3" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team1']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team1']['positions']['pos3']"></select>
      <strong>{{field['team1']['positions']['pos3'].position}}</strong>
    </div>

    <div id="t1-pos4" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team1']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team1']['positions']['pos4']"></select>
      <strong>{{field['team1']['positions']['pos4'].position}}</strong>
    </div>
  </div>
  <button class="btn btn-info" ng-click="rotate('team1')">Rotate!</button>

  <hr>

  <div id="t2-frontline" class="container col-lg-12">
    <div id="t2-pos4" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team2']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team2']['positions']['pos4']"></select>
      <strong>{{field['team2']['positions']['pos4'].position}}</strong>
    </div>

    <div id="t2-pos3" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team2']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team2']['positions']['pos3']"></select>
      <strong>{{field['team2']['positions']['pos3'].position}}</strong>
    </div>

    <div id="t2-pos2" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team2']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team2']['positions']['pos2']"></select>
      <strong>{{field['team2']['positions']['pos2'].position}}</strong>
    </div>
  </div>

  <div id="t2-backline" class="container col-lg-12">
    <div id="t2-pos5" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team2']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team2']['positions']['pos5']"></select>
      <strong>{{field['team2']['positions']['pos5'].position}}</strong>
    </div>

    <div id="t2-pos6" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team2']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team2']['positions']['pos6']"></select>
      <strong>{{field['team2']['positions']['pos6'].position}}</strong>
    </div>

    <div id="t2-pos1" class="col-lg-4">
      <select class="form-control" ng-options="player.number for player in players |
                            isPlaying:keyboard['team2']['keys'] |
                            orderBy: 'number'
                            "
              ng-model="field['team2']['positions']['pos1']"></select>
      <strong>{{field['team2']['positions']['pos1'].position}}</strong>
    </div>
  </div>
  <button class="btn btn-info" ng-click="rotate('team2')">Rotate!</button>
</div>
